@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-base-content font-sans;
  }
}

.animated-gradient {
  background: linear-gradient(
    -45deg,
    #fce4ec, /* Light Pink */
    #e8f5e9, /* Light Green */
    #fff3e0, /* Light Orange */
    #ede7f6  /* Light Purple */
  );
  background-size: 400% 400%;
  animation: gradient-flow 15s ease infinite;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}
